@import "styles/Color";
@import 'bootstrap/scss/bootstrap.scss';

.app {
  &-wrapper {
    background: rgba(0, 0, 0, 0.76);
    position: fixed;
    overflow: auto;
    height: 100%;
    width: 100%;
  }
}

// .container {
//   margin: 5em;
//   padding: 0.8em 3em;
// }

.link {
  text-decoration: none;

  &--primary {
    color: $url__color--primary !important;
  }

  &--secondary {
    color: $url__color--secondary !important;
  }

  &--active {
    color: $url__color--active !important;
  }
}

.bold {
  font-weight: bold;
}

hr {
  border-top: 0.12em $hr__color solid;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.text {
  &--secondary {
    color: $text__color--secondary !important;
  }
}

.badge {
  padding: .2em 1em;
  border: $badge__color--outline 1px solid;
  border-radius: 4px;
}

.title {

  font-weight: bold;
  color: $text__color--primary;

  &--large {
    font-size: 36pt !important;
  }

  &--medium {
    font-size: 30pt !important;
  }
}

.thumbnail {
  max-height: 360px;
  object-fit: cover;
}