.home {
  &-wrapper {
    margin: 2em 5em;
    padding: 0.8em 2em;
    background: #fff;
  }

  &-content {
    display: flex;
    gap: 0.6em;
  }

  &-item-outer {
    flex: 3;
  }

  &-items {
    display: flex;
    flex-flow: row;
    gap: 0.6rem;
  }

  &-item {
    &-thumbnail {
      > img {
        width: 200px;
        height: 300px;
      }
    }
  }

  &-aside {
    flex: 1;
    display: flex;
    flex-flow: column;
  }
}