@import "styles/Color";
@import "styles/Mixins";

.home{
  &__content {
    padding-top: 2em;
    @include tablet {
      padding-top: 0;
    }
  }

  &__slogan {
    padding: 2em;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;

    @include tablet {
    padding: 1.2em;

      margin-top: 3em;
    margin-bottom: 3em;
    }
    >h1  {
      font-size: 30pt !important;
      font-weight: bold !important;

      @include tablet {
        font-size: 23pt !important;
      }
    }
  }
}

.category {
  .__header {
    > h1 {
      font-weight: bold;
    }
  }
}

.aside {
  &__box {
    flex: 1;
  }
}

.cardbox {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow: auto;
  flex: 3;
  gap: 1.2em;
}

.bookcard {
  // max-width: (100%/4);
  text-decoration: none;
  color: #f5f5f5;
  flex: 1 0 41%;

  @include laptop {
    flex: 1 89%;
  }

  @include tablet {
    flex: 1 41%;
  }

  &__body {
    &__thumbnail {
      > img {
        width: 100%;
        /* max-width: 1010px; */
        /* max-height: 1280px; */
        object-fit: cover;
        height: 300px;
      }
    }
  }

  &__footer {
    padding: 1.2em;
    &__title {
      font-weight: bold;
      text-decoration: none;
      color: #fff;
      font-size: larger;
    }
    &__information {
      display: flex;
      flex-flow: row;
      > div {
        padding: 0.4em 0;
        display: flex;
        flex-flow: row;
        // flex: 1;
        > span {
          margin: 0.2em 0.5em;
        }
      }
    }
  }
}

.nav__icon {
  color: #b4b4b4 !important;
  font-weight: 100;
  margin: 0.6em 0.76em;
  font-size: large;
  align-items: center;
  justify-content: center;
}
