@import "styles/Color";

.home {
  &__wrapper {
    // margin: 2em 5em;
    padding: 0.8em 3em;
    background: $background__color--primary;
  }

  &__content {
    display: flex;
    gap: 0.6em;
    &--outer {
      flex: 3;
    }
    &--aside {
      flex: 1;
      display: flex;
      flex-flow: column;
    }
  }

  &__item_list {
    // display: flex;
    // flex-flow: row;
    gap: 0.6rem;
    .separator {
      display: flex;
      flex-flow: row;
      gap: 0.6rem;
    }
  }

  &__item {
    &__thumbnail {
      > img {
        width: 200px;
        height: 300px;
      }
    }
  }
}

.cardbox {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  overflow: auto;
  flex: 3;
}

.card {
  // max-width: (100%/4);
  text-decoration: none;
  color: #808080;
  flex: 1 0 21%;
  &__body {
    &__thumbnail {
      > img {
        width: 100%;
      }
    }
  }

  &__footer {
    padding: 1.2em;
    &__title {
      font-weight: bold;
      text-decoration: none;
      color: rgb(15, 15, 15);
    }
    &__information {
      display: flex;
        flex-flow: row;
      >div {
        padding: 0.4em 0;
        display: flex;
        flex-flow: row;
        // flex: 1;
        > span {
          margin: 0.2em 0.5em;
        }
      }
    }
  }
}
