.editor {
  margin: 2em 0 0 0;
  &__wrapper {
    // margin: 0 1.2em;
  }

  &__header {
    // display: flex;
    // flex-flow: row;
    // gap: 1em;

    &--first {
      flex: 1;
    }

    &--secondary {
      flex: 1;
    }
  }

  &__thumbnail {
    cursor: pointer;
    object-fit: cover;
    img {
      border-radius: 12px;
      width: 100%;
      object-fit: cover;
      max-height: 300px;
    }
  }

  &__password {
    margin-top: 1em;
  }

  &__body {
    margin-top: 1em;
  }

  &__chapters {
    margin-top: 1em;
  }
}

.tag {
  // padding: 0.5em 0.89em;
  display: inline-block;
  margin-right: 12px !important;
  margin-bottom: 12px !important;
}
