@import "styles/Mixins";

.admin {
  &__container,
  &__content {
    padding: 24px;
  }

  &__header {
    //   background: #000 !important;
    padding: 1.2em;
    &__brand {
      color: #fff;
      font-family: "Dancing Script", cursive;
      text-shadow: 3px 2px 7px #dbdbdb;
    }
  }
}

.app-wrapper {
  // For mobile
  @include mobile {
    padding: 0 !important;
  }
}
