@import "styles/Mixins";

.admin {
  &__wrapper {
    @include tablet {
      margin-top: -6em !important;
    }
  }
  &__container,
  &__content {
    padding: 24px;
  }

  &__header {
    //   background: #000 !important;
    padding: 1.2em;
    &__brand {
      color: #fff;
      font-family: "Dancing Script", cursive;
      text-shadow: 3px 2px 7px #dbdbdb;
    }
  }
}
