.admin {
  &__wrapper,
  &__container,
  &__content {
    padding: 24px;
  }

  &__wrapper {
    // background: #f5f5f5;
  }

  &__content {
    padding-top: 0px;
    flex: 4;
  }

  &__container {
      gap: 1em;
  }

  &__header {
    //   background: #000 !important;
    padding: 1.2em;
  }

}
