.resourceitem {
  
  &--selected {
    border: 4px solid rgba(51, 88, 143, 0.527);
    // padding: 12px;
    background: #f4f4f4 !important;
  }
}


.img--resource {
  object-fit: cover;
  // width: 100% !important;
}