@import "styles/Color";
.breadcrumb {
  // margin: 0 4em;  
  &__wrapper {
    padding: 0.4em;
    // background: #fff;
  }

  &__container {
    display: flex;
    flex: row;
    font-size: large;
    padding: 0.2em 0;
    text-transform: uppercase;

    > div {
      &:not(:last-child)::after {
        content: '/';
        margin: 0 12px;
        color: $url__color--secondary;
      }
      margin-right: 12px;
    }
  }
}
