$text__color: #fff;
$dropdown__text: rgb(66, 66, 66);
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import "styles/Color";
@import "styles/Mixins";

.header {
  &__wrapper {
    // background: #fff;
    display: block;
    // border-bottom: 1px solid rgb(223, 223, 223);
    padding-top: 2em;

    @include tablet {
      padding: 0;
    }

    @include mobile {
      background: #000;
      position: fixed;
      top: 0;
      width: 100%;
    }
  }

  &__container {
    display: flex;
    flex-flow: row;
    margin: 0 4rem;
    gap: 1rem;

    @include mobile {
      flex-flow: row;
      margin: 0;
      gap: 0;
    }
  }

  &__expand {
    padding: 1em 1.2em;
    font-size: 15pt;

    > * {
      justify-content: center;
      align-items: center;
    }

  }

  &-logo-section {
    flex: 2;
    padding: 1.2rem;

    h1 {
      margin: 0;

      a {
        text-decoration: none;
        font-size: 48pt;
        font-weight: 700;
        color: $text__color;
        font-family: "Dancing Script", cursive;
        text-shadow: 3px 2px 7px #dbdbdb;
        @include mobile {
          font-size: 22pt;
          text-align: center;
          display: block;
        }
      }
    }
  }

  &-navigation {
    display: flex;
    flex: 4;
    align-items: center;
    flex-flow: row-reverse;
    @include mobile {
      flex-flow: column-reverse;
      position: fixed;
      left: 0;
      display: block;
      background: #000000;
      width: 100%;
      height: 100%;
      font-size: 12pt;
      // animation: slideRight .25s;
    }

    > * {
      font-size: 1.2em;
      margin: 0 1.2em 0 1.2rem;
      padding: 25px 0;
      a,
      span {
        text-decoration: none;
        color: $text__color;
        cursor: pointer;
        font-weight: bold;
        // text-transform: uppercase;
        @include mobile {
          font-size: 16px !important;
        }
      }
      // flex: 1;
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-25px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-150px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.dropdown {
  display: block;
  position: absolute;
  margin: 1.7em 0 1.4em -2em;
  background: #fff;
  // width: 12%;
  padding: 0.68rem 0.48rem;
  border-radius: 5px;
  animation: slideDown 0.25s;
  padding: 0;
  box-shadow: #d4d4d4 1px 1px 6px;
  color: $dropdown__text !important;


  @include mobile {
    width: 100%;
    position: relative;
    margin: 0;
    margin-top: 0.45em;
    background: transparent;
    color: #ffffff !important;
    box-shadow: none !important;
    animation: slideDown .1s;
  }

  &__outer {
    display: flex;
    @include mobile {
      flex-flow: column;
    }
  }

  &__render {
    display: flex;
    >span{
      flex: 2;
      padding: 12px 0;
     }

    > .icon {
      margin-left: 12px;
      color: #f5f5f5;
      flex: 0 !important;
    }
  }

  &__content {
    display: flex;

    &:hover {
      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      @include mobile {
        background: #c2c2c2 !important;
        color: #000 !important;
      }
    }
  }

  &__icon {
    margin: 0 12px;
    color: $dropdown__text !important;
  }
  &__link {
    width: 100%;
    display: block;
    padding: 0.6em;
    box-sizing: border-box;
    font-size: small;
    > span {
      color: $dropdown__text !important;

      @include mobile {
        color: #fff !important;
        font-size: 14pt;
      }
    }
  }
}
