$text__color: #fff;
$dropdown__text: #888;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.header {
  
  &__wrapper  {
    // background: #fff;
    display: block;
    // border-bottom: 1px solid rgb(223, 223, 223);  
    padding-top: 2em;
  }

  &__container {
    display: flex;
    flex-flow: row;
    margin: 0 4rem;
    gap: 1rem;    
  }

  &-logo-section { 
    flex: 2;
    padding: 1.2rem;

    h1 {
      margin: 0;
      
      a {
        text-decoration: none;
        font-size: 48pt;
        font-weight: 700;
        color: $text__color;
        font-family: 'Dancing Script', cursive;
        text-shadow: 3px 2px 7px #dbdbdb;
      }
    }
  }

  &-navigation {
    display: flex;
    flex: 4;
    align-items: center;
    flex-flow: row-reverse;
    > * {
      font-size: 1.2em;
      margin: 0 1.4rem;
      padding: 25px 0;
      a, span {
        text-decoration: none;
        color: $text__color;
        cursor: pointer;
        font-weight: bold;
        text-transform: uppercase;
      }
      // flex: 1;
    }
  }

}

@keyframes slideDown {
  from {
    transform: translateY(-25px);
    opacity: 0;
  }

  to {
    
    transform: translateY(0);
    opacity: 1;
  }
}

.dropdown {
  display: block;
  position: absolute;
  margin: 1.4em 0;
  background: #fff;
  width: 12%;
  padding: 0.68rem 0.48rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: slideDown .25s;
  padding: 0;
  box-shadow: #d4d4d4 1px 1px 6px;
  color: $dropdown__text !important;

  &__content {
    display: flex;
  }

  &__icon {
    margin: 0 12px;
    color: $dropdown__text !important;
  }
  &__link {
    width: 100%;
    display: block;
    padding: 0.6em;
    box-sizing: border-box;
    font-size: 0.95em;
    color: $dropdown__text !important;
    // transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .25s;

    &:hover {
      background: #f5f5f5;
    }
  }
}