$text__color--primary: #000000;
$text__color--secondary: #666666;

$background__color--primary: #ffffff;
$background__color--secondary: #f5f5f5;

$url__color--primary: #202020;
$url__color--secondary: #888;
$url__color--active: #2196f3;

$hr__color: #888;
