$text__color--primary: #ffffff;
$text__color--secondary: #d2d2d2;

$background__color--primary: transparent;
$background__color--secondary: #f5f5f5;

$url__color--primary: #ffffff;
$url__color--secondary: #d2d2d2;
$url__color--active: #2196f3;

$hr__color: #cccccc;


$badge__color--outline: #cccccc;